<div class="contenedor">
    <div>
        <img class="imagenColor" src="assets/imagenes/LC.PNG" alt="">
    </div>
    <div style="width: 40%;">
        <label>Registro</label>
        <div class="progress">
            <div class="progress-bar bg-danger" role="progressbar" style="width:60%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <br>
        <br>
        <div>
            <h4 align="left">Ingresa el código de cuatro digitos que te llegara en unos momentos</h4><br>
            <img style="width: 70%;" src="assets/imagenes/4cuadritos.PNG" alt="no se encontro"><br><br>
            <label for="no recibido">¿No recibiste ningún código?</label><br>
            <button style="border-radius: 5px;">Reenviar código</button><br><br><br>

            <button [routerLink]="['/registrar4']" style="border-radius: 5px; background-color: #D35400; color: white;" class="form-control">Continuar</button>
        </div>
    </div>



</div>



<!-- <div class="contenedor">
    <div>
        <img class="imagenColor" src="assets/imagenes/LC.PNG" alt="no se encontro">
    </div>
    <div>
        <label>Registro</label>
        <div class="progress">
            <div class="progress-bar bg-danger" role="progressbar" style="width: 60%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <br>
        <h4 align="left">Ingresa el código de cuatro digitos que te llegara en unos momentos</h4><br>
        <img src="assets/imagenes/4cuadritos.PNG" alt="no se encontro"><br><br>
        <label for="no recibido">¿No recibiste ningún código?</label><br>
        <button style="border-radius: 5px;">Reenviar código</button><br><br><br>

        <button [routerLink]="['/registrar4']" style="border-radius: 5px; background-color: #D35400; color: white;" class="form-control">Continuar</button>
    </div>


</div> -->
