<div class="container-fluid">
    <app-navbar></app-navbar>


    <router-outlet>

    </router-outlet>


</div>





<!-- <div style="justify-content: center;align-content: center;" class="row justify-content-evenly">
        <div style="height:15rem;justify-content: center;align-content: center;" class="col-5">

            <img class="imagenColor" src="assets/imagenes/LC.PNG" alt="">
        </div>

        <div class="col-5">
            <br><br>
            <label>Registro</label>
            <div class="progress">

                <div class="progress-bar bg-danger" role="progressbar" style="width: 80%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <br>
            <h5 class="textoIzquierda">!Listo!</h5>
            <h5 class="textoIzquierda">Ahora ingrese su dirección de correo</h5>
            <h5 class="textoIzquierda">esta servira como tu usuario, y luego una contraseña</h5>
            <div class="form-group">
                <label class=" col-form-label">Correo Electrónico</label><br>
                <div class="col">
                    <input class="form-control colorGris" type="text" placeholder="">
                </div>

            </div>

            <div class="form-group">
                <label class=" col-form-label">Contraseña</label><br>
                <div class="col">
                    <input class="form-control colorGris" type="password" placeholder="">
                </div>

            </div>
            <div class="form-group">
                <label class=" col-form-label">Repetir Contraseña</label>
                <div class="col">
                    <input class="form-control colorGris" type="password" placeholder="">
                </div>
                <br><br>

                <button class="form-control botonNaranja">Continuar</button><br><br>
            </div>
     -->

<!-- primera pantalla -- login -->
<!--
    <div class="row justify-content-evenly">
      <div style="height:15rem;" class="col-5">
          <br><br><br><br><br><br>

          <img class="imagenColor" src="assets/imagenes/LC.PNG" alt="">


      </div>

      <div class="col-5">
          <br><br>
          <form autocomplete="off">
              <div>
                  <div class="form-group">
                      <label class=" col-form-label">Usuario</label><br>
                      <div class="col">
                          <input style="background-color:#D5D8DC;" class="form-control" type="text">
                      </div>
                      <br>
                  </div>

                  <div class="form-group">
                      <label class=" col-form-label">Contraseña</label><br>
                      <div class="col">
                          <input style="background-color:#D5D8DC;" class="form-control" type="password">
                      </div>

                  </div>
                  <input type="checkbox" name="checkbox1"><label class=" col-form-label">Mantener mi sesión activa</label><br>
                  <div class="form-group">

                      <div class="col">
                          <button style="background-color: #D35400;" class="form-control">Ingresar</button>
                          <h6 align="center">¿Olvidaste tu contraseña?</h6>
                          <br>
                          <h6>¿Usuario nuevo?</h6>
                          <button style="background-color: #AEB6BF;" class="form-control">Registrarme</button>
                      </div>

                  </div>
              </div>
          </form>

      </div>

-->



<!-- segunda pantalla registro 1-->
<!--
<label>Registro</label>
<div class="progress">

    <div class="progress-bar bg-danger" role="progressbar" style="width: 20%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
</div>

<h4 align="left">Primero,<br>¿Cuál es tu perfil?</h4><br>
<button style="border-radius: 5px; background-color: #D35400;width: 80%;height: 25%;"><h4 style="color: white;text-align: left;">Cuenta de empresa</h4><h6 style="color: white;">Crear una cuenta para publicar las cargas que necesites mover</h6></button><br><br>
<button style="border-radius: 5px;background-color: #D35400; width: 80%;height: 25%;"><h4 style="color: white;text-align: left;">Cuenta transportista</h4><h6 style="color: white;">Crear una cuenta para encontrar cargas que moverás con tu flota</h6></button><br><br>

<button style="border-radius: 5px; background-color: #D35400; color: white;" class="form-control">Registrarme</button>
</div>

<router-outlet>
</router-outlet>

</div>
 -->


<!-- tercer pantalla registro 2 -->

<!--  <label>Registro</label>
 <div class="progress">

     <div class="progress-bar bg-danger" role="progressbar" style="width: 40%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
 </div>
 <br>
 <h4 align="left">Ahora dinos,<br>¿Cuál es tu numero de teléfono?</h4><br>

 <div class="form-group">
     <label align='left' class=" col-form-label">Número de Teléfono</label><br>
     <div class="col">
         <input style="background-color:#D5D8DC;" class="form-control" type="password">
     </div>
     <br><br><br><br>

 </div>


 <button style="border-radius: 5px; background-color: #D35400; color: white;" class="form-control">Continuar</button>
</div>

 -->

<!-- Cuarta pantalla registro 3  -->
<!--  <label>Registro</label>
 <div class="progress">

     <div class="progress-bar bg-danger" role="progressbar" style="width: 60%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
 </div>
 <br>
 <h4 align="left">Ingresa el código de cuatro digitos que te llegara en unos momentos</h4><br>
 <img src="assets/imagenes/4cuadritos.PNG" alt=""><br><br>
 <label for="no recibido">¿No recibiste ningún código?</label><br>
 <button style="border-radius: 5px;">Reenviar código</button><br><br><br>

 <button style="border-radius: 5px; background-color: #D35400; color: white;" class="form-control">Continuar</button>
 -->


<!-- 5ta pantalla registro 4 -->

<!--  <label>Registro</label>
 <div class="progress">

     <div class="progress-bar bg-danger" role="progressbar" style="width: 80%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
 </div>
 <br>
 <h5 align="left">!Listo!</h5>
 <h5 align="left">Ahora ingrese su dirección de correo</h5>
 <h5 align="left">esta servira como tu usuario, y luego una contraseña</h5>
 <div class="form-group">
     <label class=" col-form-label">Usuario</label><br>
     <div class="col">
         <input style="background-color:#D5D8DC;" class="form-control" type="text">
     </div>
     <br>
 </div>

 <div class="form-group">
     <label class=" col-form-label">Contraseña</label><br>
     <div class="col">
         <input style="background-color:#D5D8DC;" class="form-control" type="password">
     </div>

 </div>
 <div class="form-group">
     <label class=" col-form-label">Repetir Contraseña</label>
     <div class="col">
         <input style="background-color:#D5D8DC;" class="form-control" type="password">
     </div>
     <br>

     <button style="border-radius: 5px; background-color: #D35400; color: white;" class="form-control">Continuar</button>
 </div>
 -->