<div class="contenedor">
    <div style="width: 55%;">
        <img class="imagenColor" src="assets/imagenes/LC.PNG" alt="">
    </div>
    <div>
        <label>Registro</label>
        <div class="progress">
            <div class="progress-bar bg-danger" role="progressbar" style="width: 40%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <br>
        <h4 align="left">Ahora dinos,<br>¿Cuál es tu número de teléfono?</h4><br>

        <div class="form-group">
            <label align='left' class=" col-form-label">Número de Teléfono</label><br>
            <div class="col">
                <input style="background-color:#D5D8DC;" class="form-control" type="password" placeholder="">
            </div>
            <br><br><br><br>

        </div>


        <button [routerLink]="['/registrar3']" routerLinkActive="router-link-active" style="border-radius: 5px; background-color: #D35400; color: white;" class="form-control">Continuar</button>
    </div>


</div>
