<div class="contenedor">
    <div>
        <img class="imagenColor" src="assets/imagenes/LC.PNG" alt="">
    </div>
    <div>
        <label>Registro</label>
        <div class="progress">
            <div class="progress-bar bg-danger" role="progressbar" style="width: 20%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
        </div>

        <h4 align="left">Primero,<br>¿Cuál es tu perfil?</h4><br>
        <div style="text-align: center;">
            <button style="border-radius: 5px; background-color: #D35400;width: 80%;height: 25%;"><h4 style="color: white;text-align: left;">Cuenta de empresa</h4><h6 style="color: white;">Crear una cuenta para publicar las cargas que necesites mover</h6></button><br><br>
            <button style="border-radius: 5px;background-color: #D35400; width: 80%;height: 25%;"><h4 style="color: white;text-align: left;">Cuenta transportista</h4><h6 style="color: white;">Crear una cuenta para encontrar cargas que moverás con tu flota</h6></button><br><br>



            <button [routerLink]="['/registrar2']" routerLinkActive="router-link-active" style="border-radius: 5px; background-color: #D35400; color: white;width: 100%;" class="form-control">Continuar</button>
        </div>
    </div>

</div>